:root {
  --game-board-line-size: 4px;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
}

body.dark {
  --text-color: #fff;
  --bg-color: #000;
}

body.light {
  --text-color: #081820;
  --bg-color: #e0f8d0;
}
